@charset "UTF-8";
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Anton";
    src: url("./fonts/Anton/Anton-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
    background-color: #FDF8F3;
    margin: 0;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*overflow: hidden;*/
    background-color: #FDF8F3;
}

.background_main {
    background-color: #FDF8F3;
}

/*Кастомний Скролбар*/
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #454650;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #DAB189;
    border-radius: 10px;
    transition: 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d19c69;
}

/*Кастомний Скролбар - кінець*/

.background-navbar {
    background-color: #72A8BA;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-content {
    flex: 1;
    overflow-y: auto;
    background-color: #FDF8F3;
    height: 100vh;
}

.main-section {
    margin: 10px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.container-user-photo {
    display: flex;
    align-items: center;
}
.container-user-name {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    margin: 0 0 0 10px;
}
.user-photo {
    background: #494B55;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.user-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}
.logotype-psychology img {
    width: 35px;
}
.block_menu_button {
    position: fixed;
    bottom: 0px;
    background-color: #fdf8f3;
}
.block_menu_button nav {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.block_menu_button nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.block_menu_button nav ul li {
    background-color: #DAB189;
    border-radius: 12px;
    padding: 12px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.block_menu_button nav ul li:hover {
    background-color: rgb(56, 94, 108);
}
.block_menu_button nav ul li img{
    width: 25px;
}
nav ul li.active {
    background-color: #72A8BA !important;
}
.container-tittle {
    width: 60%;
}
.container-tittle p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #494B55;
    margin: 0px 20px 10px;
    display: flex;
    justify-content: center;
}
.hr_title {
    border-radius: 0 10px 10px 0;
    border: 0px solid #494B55;
    background: #494B55;
    height: 3px;
    display: flex;
    justify-content: flex-start;
}
.content-main {
    margin: 10px 20px;
}
.content-main p {
    font-family: "Nunito";
    font-weight: 500;
    font-size: 16px;
    color: #494B55;
}
.container-links {
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 10px;
    width: 180px;
    height: 120px;
}

.block-links-main {
    background-color: #72a8ba;
    padding: 10px;
    border-radius: 12px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.block-links-main p {
    color: #FFF;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}
.block-links-main img {
    margin: 0px 0 0 7px;
}
.container-statistic {
    margin: 10px;
}
.container-statistic div canvas {
    height: 300px;
}




.container-all-session {
    margin: 10px 20px 110px;
}
.under-title-text {
    font-family: "Nunito";
    font-weight: 500;
    font-size: 18px;
    color: #494B55;
}
.block-session {
    display: flex;
    padding: 12px 20px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #72A8BA;
    margin: 12px 0;
    text-decoration: none;
}
.block-session:nth-child(even) {
    background-color: #385E6C;
}
.block-session p {
    color: #FFFFFF;
    margin: 0;
    font-size: 17px;
    font-weight: 600;
}

.container-one-session {
    margin: 10px 20px 110px;
}
.one-section-content {
    font-family: "Nunito";
    font-weight: 500;
    font-size: 18px;
    color: #494B55;
}
.one-section-content p {
    word-wrap: break-word; /* Break long words if necessary */
    word-break: break-word; /* Break long words if necessary */
    overflow-wrap: break-word; /* Break long words if necessary */
    white-space: pre-wrap; /* Preserve whitespace and wrap as needed */
}
.one-section-content b {
    display: flex;
    align-items: center;
}
.one-section-content b img {
    width: 25px;
    margin: 0 10px 0 0;
}
.toast {
    display: flex;
    padding: 10px 10px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background-color: #72A8BA;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}
.container-text-statistic {
    font-family: "Nunito";
    font-weight: 500;
    font-size: 16px;
    color: #494B55;
    margin: 20px 10px 100px;
}
.container-text-statistic ul {
    list-style: auto;
    padding: 0 0 0 30px;
}
.uniq-text-single-statistic {
    list-style: none !important;
    padding: 0 0 0 0px !important;
}

@media (max-width: 410px) {
    .block_menu_button nav ul li {
        margin: 10px 5px;
    }
}

.client-table {
    border-collapse: collapse;
    margin: 5px 10px 10px;
}
.border-dashed {
    border: 2px dashed #72A8BA;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.border-dashed-left {
    border: 2px dashed #72A8BA;
    border-bottom: none;
    /* border-left: none; */
    border-right: none;
    border-top: none;
}
.field-title {
    padding: 20px 0 10px 0;
    text-align: center;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #494B55;
}
.padding-right {
    padding-right: 10px;
}
.padding-left {
    padding-left: 10px;
}
.field-content {
    padding-bottom: 10px;
}
.field-content {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #494B55;
    margin: 0px 20px 10px;
}
.client-ones {
    padding: 0 3px 15px 3px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #fff;
    line-height: 10px;
    text-align: center;
}
.client-ones img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.client-ones span {
    position: relative;
    top: 45px;
}
.client-header {
    display: flex;
    justify-content: center;
    margin: 20px 10px 0px;
}
.client-header img {
    width: 80%;
}
.container-cycle-couple {
    margin: 0 0 100px 0;
}
.no-cycle-message {

    p {
        padding: 0 20px;
        text-align: justify;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #494B55;
    }
}
.soon-page {
    p {
        padding: 0 20px;
        text-align: justify;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #494B55;
    }
}